.tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .tab-bar button {
    background: none;
    border: none;
    font-size: 12px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .material-icons-outlined {
    font-size: 24px;
    margin-bottom: 4px;
  }
  .active-tab {
    @apply text-blue-600 font-bold;
  }
  main {
    max-height: calc(100vh - 64px - 64px); /* Altura total menos header y footer */
    overflow-y: auto;
  }