<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<h1> Home </h1>
<nav class="tab-bar">
  <button *ngIf="true" routerLink="/products">
    <span class="material-icons-outlined">grid_view</span>
    Productos
  </button>

  <button *ngIf="roleId === roles.Cliente" routerLink="/reports">
    <span class="material-icons-outlined">receipt_long</span>
    Reportes
  </button>

  <button *ngIf="roleId === roles.Cliente" routerLink="/deliveries">
    <span class="material-icons-outlined">local_shipping</span>
    Entregas
  </button>

  <button *ngIf="roleId === roles.Cliente" routerLink="/profile">
    <span class="material-icons-outlined">person</span>
    Perfil
  </button>

  <button *ngIf="roleId === roles.Vendedor" routerLink="/inventory">
    <span class="material-icons-outlined">inventory_2</span>
    Inventario
  </button>

  <button *ngIf="roleId === roles.Vendedor" routerLink="/visits">
    <span class="material-icons-outlined">directions_car</span>
    Visitas
  </button>

  <button routerLink="/shopping-cart">
    <span class="material-icons-outlined">shopping_cart</span>
    Carrito
  </button>

  <button *ngIf="roleId === roles.Vendedor" routerLink="/clients">
    <span class="material-icons-outlined">groups</span>
    Clientes
  </button>
</nav>

<router-outlet></router-outlet>
