<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngFor="let visit of visits" class="bg-white shadow-sm rounded-lg p-4 mb-4 border border-gray-200">
  <!-- Cabecera con cliente -->
  <div class="flex justify-between items-start mb-2">
    <div class="flex items-center gap-2">
      <span class="material-icons text-gray-500">person</span>
      <div>
        <p class="text-xs text-gray-500">Cliente</p>
        <p class="text-sm font-medium text-gray-700">{{ visit.customer_name }}</p>
      </div>
    </div>
    <span [ngClass]="getTagClass(visit.visit_status)" class="text-xs font-semibold px-2 py-1 rounded">
       {{ visit.visit_status === VisitStatus.NO_VISITADO ? 'NO VISITADO' : 'VISITADO' }} 
    </span>
  </div>

  <!-- Línea divisoria -->
  <div class="border-t border-gray-200 my-3"></div>

  <!-- Tienda -->
  <p class="text-sm font-medium text-gray-800 mb-2">{{ visit.store_name }}</p>

  <!-- Fecha y Teléfono: mismos estilos y alineados -->
  <div class="flex justify-between text-xs text-gray-600">
    <div>
      <p class="text-xs text-gray-800">Fecha y hora</p>
      <p class="text-sm font-semibold text-gray-500">{{ visit.visit_date }}</p>
    </div>
    <div class="text-right">
      <p class="text-xs text-gray-800">Número teléfono cliente</p>
      <p class="text-sm font-semibold text-gray-500">{{ visit.customer_phonenumber }}</p>
    </div>
  </div>

  <!-- Dirección -->
  <div class="mt-2">
    <p class="text-xs text-gray-500 font-semibold">Dirección</p>
    <p class="text-sm text-gray-800">{{ visit.visit_address }}</p>
  </div>

  <!-- Estado y botón de acción -->
  <div class="flex justify-between items-center mt-4">
<button
  (click)="onVisitStatusClick(visit, visit.visit_status === VisitStatus.NO_VISITADO ? VisitStatus.VISITADO : VisitStatus.NO_VISITADO)"
  [ngClass]="{
    'bg-green-100 text-green-800': visit.visit_status === VisitStatus.VISITADO,
    'bg-orange-100 text-orange-800': visit.visit_status === VisitStatus.NO_VISITADO
  }"
  class="text-xs font-semibold px-3 py-1 rounded-full shadow-sm"
>
  {{ visit.visit_status === VisitStatus.NO_VISITADO ? 'Marcar Visitado' : 'Marcar No visitado' }} 
</button>



    <button (click)="openCamara(visit.visit_id)" title="Grabar video" class="text-gray-600 hover:text-black">
      <span class="material-icons text-lg">videocam</span>
    </button>
  </div>
</div>
